.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #ffc107 !important;
}

@media (max-width: 576px) {
  .navbar-collapse {
    padding-top: 35px;
  }
}

.overlay {
  min-height: 300px;
  background: rgba(244, 244, 244, 0.79);
  color: #212529;
  with: auto;
}

.overlay2 {
  /*background: rgba(255, 193, 3, 0.4);//#ffc107 */
  background: rgba(40, 167, 69, 0.4);
  color: #212529;
  with: auto;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption,
.carousel-caption2 {
  position: absolute;
  right: 10%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #212529;
}

.carousel-caption p, .carousel-caption h3, .carousel-caption li {
  color: #212529;
}

.carousel-caption2 p, .carousel-caption2 h3, .carousel-caption2 li {
  color: #fff;
}

.carousel-caption ul {
  width: auto;
  list-style: none;
}

.masthead {
  height: 60vh;
  min-height: 500px;
  background-image: url('../img/before-footer/back3-bzh-bzh.by.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/*Order*/
.order-button {
  min-height: 150px;
}

.order-button:hover {
  color: #fff;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #fed136;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #212529;
}

footer .fa-heart {
  color: red;
}
